/* Sidebar */

#sidebar {
    width: 25%;

    .nav-link {
        display        : flex;
        justify-content: space-between;
        text-decoration: none;
        color          : black;
    }
}

/* End of Sidebar */