/* Sidebar */

#sidebar {
    border-right: 1px solid lightgray;

    .nav-link {
        display        : flex;
        justify-content: space-between;
        text-decoration: none;
        color          : black;
    }
}

/* End of Sidebar */