#home-content {
    display              : grid;
    grid-template-columns: 25% 75%;
    // grid-template-rows: 100% 100%;
    grid-gap: 1em;

    @media screen and (max-width: 768px) {
        grid-template-columns: 100%;
    }

    #main-content {
        display       : flex;
        flex-direction: row;
        flex-wrap     : wrap;
    }
}