#home-content {
    display              : grid;
    grid-template-columns: 25% 75%;
    grid-template-rows   : 100vh;
    grid-gap             : 1em;

    @media screen and (max-width: 768px) {
        grid-template-columns: 100%;
    }

    #main-content {
        display       : flex;
        flex-direction: row;
        flex-wrap     : wrap;
    }

    #top-five-content {
        .post-card {
            width     : 80%;
            height    : 4rem;
            max-height: fit-content;
            margin    : 0.5rem;
            padding   : 0.5rem;
        }
    }

    #pagination a {
        color: black;
        float: left;
        padding: 8px 16px;
        text-decoration: none;
        transition: background-color .3s;
      }
      
      #pagination a.active {
        background-color: dodgerblue;
        color: white;
      }
}